# Project information
site_name: Polkadot Wiki
site_url: https://wiki.polkadot.com
site_author: Web3 Foundation Technologies
copyright: Copyright &copy; 2025 Web3 Foundation
extra_javascript:
  - js/MessageBox.js
  - js/root-level-sections.js
  - js/search-bar-results.js
  - js/header-scroll.js
  - js/favicon-switcher.js
  - https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js
  - js/cookies-config.js
  - js/simple-analytics.js
extra_css:
  - https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css
  - assets/stylesheets/extra.css
  - assets/stylesheets/MessageBox.css
  - assets/stylesheets/announcement-bar.css
  - assets/stylesheets/terminal.css
  - assets/stylesheets/timeline-neoteroi.css

# Repository
repo_name: w3f/polkadot-wiki

# Configuration
theme:
  name: material
  custom_dir: material-overrides
  logo: assets/logo/logo.png
  favicon: assets/logo/polkadot_logo_light.png
  icon:
    edit: material/github
    admonition:
      code: material/code-tags
  font:
    text: DM Sans
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: custom-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: custom-dark
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.annotate # Adds annotations to code blocks
    - content.code.copy # Adds copy to clipboard button to code snippets
    - content.tooltips # Adds tooltips
    - navigation.tabs # Top-level sections are rendered below the header (can be modified to in-line with CSS)
    - navigation.tabs.sticky # When scrolling, the tabs remain at the top of the page
    - navigation.sections # Render top-level sections as groups in the sidebar
    - navigation.indexes # Index pages
    - navigation.top # Show the back to top button since we don't keep top nav sticky
    - content.action.edit
    - content.action.report # Show report an issue button

# Plugins
plugins:
  - search
  - social:
      cards_layout_options:
          font_family: DM Sans
          background_color: "#0F0F0F"
          color: "#FAFAF9"
  - macros:
      module_name: macros/rpc

# Additional configuration
extra:
  generator: false
  home_url: /
  home_name: Home
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/Polkadot
    - icon: fontawesome/brands/reddit
      link: https://www.reddit.com/r/polkadot
    - icon: fontawesome/brands/github
      link: https://github.com/paritytech/polkadot-sdk
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCB7PbjuZLEba_znc7mEGNgw
    - icon: fontawesome/brands/discord
      link: https://polkadot-discord.w3f.tools/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
        auto_append:
            - includes/definitions.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - codehilite
  - tables
  - sane_lists
  - pymdownx.critic
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Sidebar
nav:
  - Get Started:
      - Web3 and Polkadot: getting-started/web3.md
      - Introduction:
          - What Is Polkadot: getting-started/introduction/what-is-polkadot.md
          - Mission and Philosophy: getting-started/introduction/mission.md
          - Tokenomics and DOT token: getting-started/introduction/tokenomics.md
          - Polkadot Evolution - From Today to JAM: getting-started/introduction/evolution.md
          - Polkadot Direction: getting-started/introduction/polkadot-direction.md
          - Polkadot v1: getting-started/introduction/polkadot-v1.md
          - Polkadot v2: getting-started/introduction/polkadot-v2.md
      - Accounts:
          - getting-started/accounts/index.md
          - What Is a Polkadot Account?: getting-started/accounts/what-is-account.md
          - Create an Account: getting-started/accounts/wallets.md
          - Account Security & Backup: https://support.polkadot.network/support/solutions/articles/65000181874#article-show-65000181874
      - Staking:
          - Introduction to Staking: getting-started/staking/index.md
          - How NPoS Works: getting-started/staking/npos.md
          - Validators and Nominators: getting-started/staking/roles.md
          - Choosing Validators: getting-started/staking/choosing-validators.md
          - Monitoring Rewards: getting-started/staking/rewards.md
          - Managing Nominations: getting-started/staking/nominations.md
          - Unbonding and Withdrawing: getting-started/staking/unbonding.md
          - Common Mistakes: getting-started/staking/mistakes.md
      - Governance:
          - Introduction to Governance: getting-started/governance/index.md
          - How Governance Works: getting-started/governance/mechanics.md
          - Voting on Referenda: getting-started/governance/voting.md
          - Submitting a Proposal: getting-started/governance/proposing.md
          - Delegating Your Vote: getting-started/governance/delegation.md
          - Tracking Activity: getting-started/governance/tracking.md
      - Community:
          - Community: getting-started/community/index.md
          - Scams: getting-started/community/scams.md
          - Contributing: getting-started/community/contributing.md
          - Contributors: getting-started/community/contributors.md
          - FAQ: getting-started/community/faq.md
          - How to DYOR: getting-started/community/how-to-dyor.md
          - Ledger: getting-started/community/ledger.md
          - Open Source: getting-started/community/open-source.md
          - PCF: getting-started/community/pcf.md
          - Polkadot Community Foundation: getting-started/community/foundation.md
  
  - Builders:
      - Polkadot Cloud: build/polkadot-cloud.md
      - Polkadot Smart Contracts: build/polkadot-smart-contracts.md
      - Introducing the Toolkit:
          - What Is the Polkadot SDK?: build/toolkit/what-is-sdk.md
          - "Building with the SDK: High-Level View": build/toolkit/building-high-level.md
          - Parachains and App-Specific Blockchains: build/toolkit/parachains-apps.md
          - How Modular Design Works: build/toolkit/modular-design.md
      - Smart Contracts:
          - Smart Contracts on Polkadot: build/smart-contracts/polkadot.md
          - How Smart Contracts Work: build/smart-contracts/how-it-works.md
          - Smart Contracts vs. SDK: build/smart-contracts/vs-parachains.md
      - Solutions:
          - Assets: build/solutions/assets.md
          - Governance Apps: build/solutions/governance-apps.md
          - Identity: build/solutions/identity.md
          - Multisig Apps: build/solutions/multisig-apps.md
          - Polkadot Products: build/solutions/polkadot-products.md
          - Polkadot Vault: build/solutions/polkadot-vault.md
          - Polkadot.js UI: build/solutions/polkadotjs-ui.md
          - Proof of Personhood: build/solutions/proof-of-personhood.md
          - Staking Apps: build/solutions/staking-apps.md
          - Storage: build/solutions/storage.md

  - Knowledge Base:
      - Account Abstraction: knowledge-base/account-abstraction.md
      - Account Balances: knowledge-base/account-balances.md
      - Accounts: knowledge-base/accounts-general.md
      - Asset Hub: knowledge-base/asset-hub.md
      - Asset Hub: knowledge-base/asset-hub.md
      - Coretime Marketplaces: knowledge-base/coretime-marketplaces.md
      - Coretime Parachains: knowledge-base/coretime-parachains.md
      - DOT-KSM Bridge: knowledge-base/dot-ksm-bridge.md
      - Ecosystem Funds: knowledge-base/ecosystem-funds.md
      - FAQ: knowledge-base/faq.md
      - Funding Opportunities: knowledge-base/funding.md
      - Glossary: knowledge-base/glossary.md
      - Hyperbridge: knowledge-base/hyperbridge.md
      - Identity: knowledge-base/identity.md
      - JAM: knowledge-base/jam.md
      - Kusama: knowledge-base/kusama.md
      - Metadata: knowledge-base/metadata.md
      - Multi-signature: knowledge-base/multisig.md
      - NFT Projects: knowledge-base/nft-projects.md
      - NFTs: knowledge-base/nfts.md
      - Nomination Pools: knowledge-base/nomination-pools.md
      - Nominator: knowledge-base/nominator.md
      - Offenses: knowledge-base/offenses.md
      - Offenses: knowledge-base/offenses.md
      - Parachains: knowledge-base/parachains.md
      - Parachains FAQ: knowledge-base/parachains-faq.md
      - Parachains FAQ: knowledge-base/parachains-faq.md
      - Polkadot OpenGov: knowledge-base/opengov.md
      - Polkadot OpenGov Origins: knowledge-base/opengov-origins.md
      - Polkadot Technical Fellowship: knowledge-base/technical-fellowship.md
      - Proxies: knowledge-base/proxies.md
      - Pure Proxies: knowledge-base/pure-proxies.md
      - Rollups & Interoperability: knowledge-base/rollups.md
      - Rollups & Interoperability: knowledge-base/rollups.md
      - Smart Contracts: knowledge-base/smart-contracts.md
      - Snowbridge: knowledge-base/snowbridge.md
      - Staking (Advanced): knowledge-base/staking-advanced.md
      - Staking on Polkadot: knowledge-base/staking-polkadot.md
      - System Chains: knowledge-base/system-chains.md
      - Teleport: knowledge-base/teleport.md
      - Transaction Attacks: knowledge-base/transaction-attacks.md
      - Transactions: knowledge-base/transactions.md
      - Validator: knowledge-base/validator.md
      - XCM: learn/learn-xcm.md

  - Technical Reference:
      - Accounts (Advanced): reference/accounts-advanced.md
      - Agile Coretime (Scheduling): reference/agile-coretime.md
      - Architecture: reference/architecture.md
      - Asynchronous Backing (Pipelining): reference/async-backing.md
      - Bridges: reference/bridges.md
      - Collator: reference/collator.md
      - Collectives: reference/collectives.md
      - Consensus: reference/consensus.md
      - Cryptography: reference/cryptography.md
      - Elastic Scaling (Parallel Computing): reference/elastic-scaling.md
      - ELVES Protocol (Parachains Protocol): reference/elves-protocol.md
      - Host Implementations: reference/host-implementations.md
      - Implementations: reference/implementations.md
      - NFT Pallets: reference/nft-pallets.md
      - NPoS Election Algorithms (Phragmen): reference/phragmen.md
      - Parachains Protocol: reference/parachains-protocol.md
      - Parachains: reference/parachains.md
      - Polkadot Host: reference/polkadot-host.md
      - Runtime Upgrades: reference/runtime-upgrades.md
      - Safrole: reference/safrole.md
      - SPREE: reference/spree.md
      - Transaction Construction: reference/transaction-construction.md
      - XCM: reference/xcm.md
      - XCM Instructions: reference/xcm-instructions.md
      - XCM Pallet: reference/xcm-pallet.md
      - XCM Transport: reference/xcm-transport.md
      - XCM Use Cases: reference/xcm-use-cases.md
      - XCM Virtual Machine (XCVM): reference/xcvm.md
