# Project information
site_name: Polkadot Wiki
site_url: https://wiki.polkadot.com
site_author: Web3 Foundation Technologies
copyright: Copyright &copy; 2025 Web3 Foundation
extra_javascript:
  - js/MessageBox.js
  - js/root-level-sections.js
  - js/search-bar-results.js
  - js/header-scroll.js
  - https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js
  - js/cookies-config.js
  - js/simple-analytics.js
extra_css:
  - https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css
  - assets/stylesheets/extra.css
  - assets/stylesheets/MessageBox.css
  - assets/stylesheets/announcement-bar.css
  - assets/stylesheets/terminal.css
  - assets/stylesheets/timeline-neoteroi.css

# Repository
repo_name: w3f/polkadot-wiki

# Configuration
theme:
  name: material
  custom_dir: material-overrides
  logo: assets/logo/logo.png
  favicon: assets/images/favicon.webp
  icon:
    edit: material/github
    admonition:
      code: material/code-tags
  font:
    text: Manrope
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: custom-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: custom-dark
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.annotate # Adds annotations to code blocks
    - content.code.copy # Adds copy to clipboard button to code snippets
    - content.tooltips # Adds tooltips
    - navigation.tabs # Top-level sections are rendered below the header (can be modified to in-line with CSS)
    - navigation.tabs.sticky # When scrolling, the tabs remain at the top of the page
    - navigation.sections # Render top-level sections as groups in the sidebar
    - navigation.indexes # Index pages
    - navigation.top # Show the back to top button since we don't keep top nav sticky
    - content.action.edit
    - content.action.report # Show report an issue button

# Plugins
plugins:
  - search
  - social:
      cards_layout_options:
          font_family: Unbounded
          background_color: "#b8ffce"
          color: "#000000"
  - macros:
      module_name: macros/rpc

# Additional configuration
extra:
  generator: false
  home_url: /
  home_name: Home
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/Polkadot
    - icon: fontawesome/brands/reddit
      link: https://www.reddit.com/r/polkadot
    - icon: fontawesome/brands/github
      link: https://github.com/paritytech/polkadot-sdk
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCB7PbjuZLEba_znc7mEGNgw
    - icon: fontawesome/brands/discord
      link: https://polkadot-discord.w3f.tools/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
        auto_append:
            - includes/definitions.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - codehilite
  - tables
  - sane_lists
  - pymdownx.critic
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Sidebar
nav:
  - Explore:
      - Explore: general/getting-started.md
      - Web3 and Polkadot: general/web3-and-polkadot.md
      - Polkadot Vision:
              - Polkadot 1.0: general/polkadot-v1.md
              - Polkadot 2.0: general/polkadot-v2.md
              - Polkadot Direction: general/polkadot-direction.md
      - Hardware Wallets:
          - Ledger: general/ledger.md
          - Polkadot Vault: general/polkadot-vault.md
      - Apps:
          - Polkadot Ecosystem Apps: https://polkadot.com/get-started/dapps/
          - Staking Apps: general/staking-apps.md
          - Staking Dashboard: general/dashboards/staking-dashboard.md
          - Governance Apps: general/governance-apps.md
          - Multisig Apps: general/multisig-apps.md
          - Common Errors: general/maintain-errors.md
          - Open Source: general/build-open-source.md    
      - Funding:
          - general/funding.md
          - Grants: general/grants.md
          - Decentralized Futures: general/decentralized-futures.md
          - Polkadot OpenGov Treasury: learn/learn-polkadot-opengov-treasury.md
          - Polkadot Community Foundation: general/pcf.md
          - Ecosystem Funds: general/ecosystem-funds.md  
      - Programs:
          - Decentralized Voices: general/decentralized-voices.md
          - Bug Bounty: general/bug-bounty.md
          - Ambassadors: general/ambassadors.md
          - Decentralized Nodes: https://nodes.web3.foundation/   
      - Stay Safe:
              - How to DYOR: general/how-to-dyor.md
              - Scams: general/scams.md
              - Transaction Attacks: general/transaction-attacks.md
      - Community & Contributors:
          - Community: general/community.md
          - Contributing: general/contributing.md
          - Contributors: general/contributors.md
      - FAQ: general/faq.md   
      - Glossary: general/glossary.md
      - Kusama:
        - Getting Started: kusama/kusama-getting-started.md
        - Timeline: kusama/kusama-timeline.md
        - Code of Conduct: kusama/kusama-coc.md
        - Bug Bounty: kusama/kusama-bug-bounty.md
        - Social Recovery: kusama/kusama-social-recovery.md
        - Adversarial Cheatsheet: kusama/kusama-adverserial-cheatsheet.md
        - Kusama Inflation: kusama/kusama-inflation.md
        - Kusama Society: https://ksmsociety.io/
  - Fundamentals:
      - general/fundamentals.md
      - learn/learn-DOT.md
      - Accounts:
         - Accounts: learn/learn-accounts.md
         - Account Abstraction: learn/learn-account-abstraction.md
         - Identity: learn/learn-identity.md
         - Multi-signature: learn/learn-account-multisig.md
         - Proxies: learn/learn-proxies.md
         - Pure Proxies: learn/learn-proxies-pure.md
         - Accounts (advanced): learn/learn-account-advanced.md
      - Balances and Transactions:
         - Transactions: learn/learn-transactions.md
         - Teleport: learn/learn-teleport.md
         - Account Balances: learn/learn-account-balances.md
      - Staking:
         - learn/learn-staking.md
         - Nomination Pools: learn/learn-nomination-pools.md
         - Staking (advanced): learn/learn-staking-advanced.md
      - Polkadot OpenGov:
         - Polkadot OpenGov: learn/learn-polkadot-opengov.md
         - Polkadot OpenGov Origins: learn/learn-polkadot-opengov-origins.md
      - Asset Hub:
         - Asset Hub: learn/learn-assets.md
         - Asset Conversion (Asset Hub): learn/learn-asset-conversion-assethub.md
         - Smart Contracts: learn/learn-smart-contracts.md
      - NFTs:
         - NFTs: learn/learn-nft.md
         - NFT Projects: learn/learn-nft-projects.md
         - NFT Pallets: learn/learn-nft-pallets.md
      - Collectives:
         - Collectives: learn/learn-collectives.md      
         - Polkadot Technical Fellowship: learn/learn-polkadot-technical-fellowship.md
         - Fellowship Dashboard: https://polkadot-fellows.xyz  
      - Metadata: general/metadata.md
      - Chain State Values: general/chain-state-values.md
      - Web3 Foundation Research: https://research.web3.foundation/
      - Video Tutorials: https://youtube.com/playlist?list=PLOyWqupZ-WGuAuS00rK-pebTMAOxW41W8&feature=shared
  - Architecture:
     - learn/learn-architecture.md
     - Network Participants:
         - Collator: learn/learn-collator.md
         - Validator: learn/learn-validator.md
         - Nominator: learn/learn-nominator.md
         - Offenses: learn/learn-offenses.md
     - Decentralized Computer:
         - ELVES Protocol: learn/learn-parachains-protocol.md
         - Pipelining: learn/learn-async-backing.md
         - Scheduling: learn/learn-agile-coretime.md
         - Coretime Marketplaces: learn/learn-guides-coretime-marketplaces.md
         - Coretime Parachains: learn/learn-guides-coretime-parachains.md
         - Parallel Computing: learn/learn-elastic-scaling.md
     - Rollups (Parachains):
            - Parachains: learn/learn-parachains.md
            - System Chains: learn/learn-system-chains.md
            - Parachains FAQ: learn/learn-parachains-faq.md
     - Cross Consensus Messaging (XCM): 
            - XCM: learn/learn-xcm.md
            - XCM Pallet: learn/learn-xcm-pallet.md 
            - XCM Transport: learn/learn-xcm-transport.md
            - XCM Virtual Machine (XCVM): learn/learn-xcvm.md
            - XCM Instructions: learn/learn-xcm-instructions.md
            - XCM Use Cases: learn/learn-xcm-usecases.md
     - Bridges:
            - Bridges: learn/learn-bridges.md
            - Snowbridge: learn/learn-snowbridge.md
            - Hyperbridge: learn/learn-hyperbridge.md
            - DOT-KSM Bridge: learn/learn-DOT-KSM-bridge.md
     - Implementation:
        - Polkadot Host: learn/learn-polkadot-host.md
        - Host Implementations: learn/learn-implementations.md
        - Runtime Upgrades: learn/learn-runtime-upgrades.md
        - Consensus: learn/learn-consensus.md
        - Cryptography: learn/learn-cryptography.md
        - Phragmen: learn/learn-phragmen.md
     - Comparisons:
          - Rollups & Interoperability: learn/learn-comparisons-rollups.md
          - Kusama: learn/learn-comparisons-kusama.md
          - Ethereum: learn/learn-comparison-ethereum.md
          - Cosmos: learn/learn-comparisons-cosmos.md
          - Avalanche: learn/learn-comparisons-avalanche.md
     - Future Upgrades:
          - Spree: learn/learn-spree.md
          - Safrole: learn/learn-safrole.md
          - JAM Chain: learn/learn-jam-chain.md
          - JAM FAQ: learn/learn-jam-faq.md
  - Analytics:
     - Parity Data Dashboards: general/dashboards/parity-data-dashboards.md
     - Dune Analytics:
                  - Polkadot Ecosystem Overview: general/dashboards/dune-analytics/polkadot-dashboards/legacy/polkadot-ecosystem-overview.md
                  - Onboarding Status and Key Dashboards: general/dashboards/dune-analytics/onboarding-status-and-key-dashboards.md
                  - DuneSQL Cheatsheet: general/dashboards/dune-analytics/dunesql-cheatsheet.md
  - Guides:
    - Polkadot-JS Guides:
      - general/polkadotjs.md
      - Polkadot-JS UI: general/polkadotjs-ui.md
      - Polkadot-JS Account Guides:
        - learn/learn-guides-accounts.md
        - learn/learn-guides-accounts-multisig.md
        - learn/learn-guides-accounts-proxy.md
        - learn/learn-guides-accounts-proxy-pure.md
        - learn/learn-guides-transfers.md
        - learn/learn-guides-identity.md
      - Polkadot-JS Staking Guides:
        - learn/learn-guides-nominator.md
        - learn/learn-guides-staking-pools.md
      - Polkadot-JS Coretime Guides:
        - learn/learn-guides-coretime-swap.md
      - Polkadot-JS OpenGov Guides:
        - learn/learn-guides-polkadot-opengov.md
        - learn/learn-guides-test-opengov-proposals.md
        - learn/learn-guides-treasury.md
        - learn/learn-guides-bounties.md
      - Polkadot-JS Asset Hub Guides:
        - learn/learn-guides-assets-create.md
        - learn/learn-guides-asset-conversion.md
      - Polkadot-JS Bridge Hub Guides:
        - learn/learn-guides-DOT-KSM-bridge.md
      - Polkadot-JS Claims Guides: learn/learn-guides-claims.md
    - Other Guides:
      - learn/learn-guides-ledger.md
      - learn/learn-guides-vault.md
      - Async Backing Conversion Guides: learn/maintain-guides-async-backing.md
      - Transaction Construction Guides: learn/learn-transaction-construction.md
    
    
