{% extends "main.html" %}

{% block content %}

<style>
.md-content .md-typeset h1:nth-of-type(2) {
    display: none;
}
</style>

<h1>Get Started</h1>
<div class="admonition info">
    <p class="admonition-title">Welcome to the Polkadot Wiki</p>
    <p>The Polkadot Wiki serves as the central source of truth for Polkadot. It is a community-focused
        initiative led by Web3 Foundation to keep an up-to-date resource on the best information for learning about
        Polkadot.</p>
    <p>For developer-focused documentation see <a href="https://docs.polkadot.com/">the Polkadot Documentation</a>.</p>
</div>
<div class="row">

    <!-- Card 1 -->
    <a href="../../general/web3-and-polkadot" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/vision.png" class="card-image" alt="Explore" />
        <p class="card-title">Web3 & Polkadot</p>
    </a>

    <!-- Card 2 -->
    <a href="../../general/polkadot-v1" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/future-vision.png" class="card-image" alt="Explore" />
        <p class="card-title">Polkadot Vision</p>
    </a>

    <!-- Card 3 -->
    <a href="../../general/wallets-and-extensions" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/wallets.png" class="card-image" alt="Transactions" />
        <p class="card-title">Wallets</p>
    </a>
</div>

<div class="row">
    <!-- Card 1 -->
    <a href="../../general/staking-apps" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/apps.png" class="card-image" alt="OpenGov" />
        <p class="card-title">Apps</p>
    </a>

    <!-- Card 2 -->
    <a href="../../general/funding" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/explore/Polkadot OpenGov 2.png" class="card-image" alt="Proxies" />
        <p class="card-title">Funding</p>
    </a>

    <!-- Card 3 -->
    <a href="../../general/decentralized-voices" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/explore/Set an Identity 2.png" class="card-image" alt="Identity" />
        <p class="card-title">Programs</p>
    </a>
</div>

<div class="row">
    <!-- Card 1 -->
    <a href="../../general/how-to-dyor" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/stay-safe.png" class="card-image" alt="OpenGov" />
        <p class="card-title">Stay Safe</p>
    </a>

    <!-- Card 2 -->
    <a href="../../general/community" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/community.png" class="card-image" alt="OpenGov" />
        <p class="card-title">Community</p>
    </a>

    <!-- Card 3 -->
    <a href="../../kusama/kusama-getting-started" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/kusama.png" class="card-image" alt="OpenGov" />
        <p class="card-title">Kusama</p>
    </a>
</div>
{{ super () }}
{% endblock %}