{% extends "main.html" %}

{% block content %}

<style>
.md-content .md-typeset h1:nth-of-type(2) {
    display: none;
}
</style>

<h1>Guides</h1>
<div class="admonition info">
    <p class="admonition-title">Welcome to the Polkadot Wiki</p>
    <p>The Polkadot Wiki serves as the central source of truth for Polkadot. It is a community-focused
        initiative led by Web3 Foundation to keep an up-to-date resource on the best information for learning about
        Polkadot.</p>
    <p>For developer-focused documentation see <a href="https://docs.polkadot.com/">the Polkadot Documentation</a>.</p>
</div>
{{ super () }}
{% endblock %}