{% extends "main.html" %}

{% block htmltitle %}
  <title>Polkadot Wiki</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{%- block container -%} 
  {% block content %}
    <div class="home-container md-typeset">
        <div class="hero-section">
          <div class="column hero-content">
            <div>
              <h1>
                Welcome to the Polkadot Wiki
              </h1>
              <h2>Your Best Companion for Everything Polkadot</h2>
              <p>Since 2019, the Polkadot Wiki has been the source of truth for the Polkadot ecosystem. It has been built for the curious, the enthusiasts, and the developers seeking the truth about Polkadot.
              </p>
            </div>
          </div>
          <div class="column tutorial-cards">
            <a class="tutorial-card" href="./general/getting-started">
              <img src="./assets/home/Explore.png" alt="Alt text" class="tutorial-card-image" />
              <h3>Explore</h3>
              <p>Explore Wallets, Applications and Programs in the Polkadot Ecosystem.</p>
            </a>
            <a class="tutorial-card" href="./general/fundamentals">
              <img src="./assets/home/Learn.png" alt="Alt text" class="tutorial-card-image" />
              <h3>Fundamentals</h3>
              <p>Learn about Polkadot's Wallets, Staking, Governance and more.</p>
            </a>
            <a class="tutorial-card" href="./learn/learn-architecture">
              <img src="./assets/Architecture.png" alt="Alt text" class="tutorial-card-image" />
              <h3>Architecture</h3>
              <p>Learn about the Architecture of Polkadot's Decentralized Computer.</p>
            </a>
          </div>
        </div>

      </br>

  </div>
  {% endblock %}
{%- endblock -%} 
