{% extends "base.html" %}

{# 
{% block announce %}
<div class="announcement-bar">
  <span class="announcement-text">
    Join the Web3 Summit in Berlin 16–18 July 👉
  </span>
  <a class="announcement-link" href="https://ti.to/web3-summit/web3-summit-2025" target="_blank" rel="noopener noreferrer">
    Register Here
  </a>
</div>
{{ super() }}
{% endblock %}
#}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/polkadot.css' | url }}">
{% endblock %}

{% block fonts %}
  {#-
    Add Google Fonts here
  -#}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock%}

{% block site_meta %}
  {{ super() }}
  <meta name="sa-verify" content="wikipolkadz4v3qypiewyql" />
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{% block site_nav %}
{#- Navigation (left menu) -#}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--primary"
      data-md-component="sidebar"
      data-md-type="navigation"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}
  
  {#- Table of contents (TOC) -#}
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--secondary"
      data-md-component="sidebar"
      data-md-type="toc"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {#- TOC -#}
          {% include "partials/toc.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{%- block container -%} 
  <div class="md-content" data-md-component="content">
    {% set class = "index-page" if not page.content %}
    <article class="md-content__inner md-typeset {{ class }}">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{%- endblock -%} 