/* styles.css */
.homeNavContainer {
    padding-bottom: 1rem; /* Default padding */
  }
  
  @media (min-width: 576px) {
    .homeNavContainer {
      padding-bottom: 1rem; /* Small devices (landscape phones, 576px and up) */
    }
  }
  
  @media (min-width: 768px) {
    .homeNavContainer {
      padding-bottom: 1rem; /* Medium devices (tablets, 768px and up) */
    }
  }
  
  @media (min-width: 992px) {
    .homeNavContainer {
      padding-bottom: 50rem; /* Large devices (desktops, 992px and up) */
    }
  }
  
  @media (min-width: 1200px) {
    .homeNavContainer {
      padding-bottom: 50rem; /* Extra large devices (large desktops, 1200px and up) */
    }
  }