<!-- overrides/partials/meta-tags.html -->
<meta property="og:title" content="Polkadot Wiki" />
<meta property="og:description" content="The Source of Truth for the Polkadot Ecosystem." />
<meta property="og:image" content="https://wiki.polkadot.com/assets/social-card.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://wiki.polkadot.com/" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Polkadot Wiki" />
<meta name="twitter:description" content="The Source of Truth for the Polkadot Ecosystem." />
<meta name="twitter:image" content="https://wiki.polkadot.com/assets/social-card.png" />