@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .mainpage-column {
    width: 100% !important;
  }

  .navPusher {
    margin-top: -50px;
  }

  .docsNavContainer {
    position: sticky;
    top: 100px;
    width: 100vw;
    margin-left: -20px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.myButton {
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
}

.myButton:hover {
  background: #e6007a;
  cursor: pointer;
}

.fixedHeaderContainer {
  background: black;
}

.homeContainer {
  background: white;
  height: 50vh;
}

.projectTitle {
  color: black;
}

.nav-footer .row {
  display: flex;
  justify-content: center;
}

.nav-footer .row .item {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.nav-footer .row .item:hover {
  color: #ffffff;
}

.mainpage-row {
  width: 100%;
  display: flex;
  padding: 10%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
}

.mainpage-column {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5%;
  text-align: center;
  flex-flow: column;
}

.mainpage-maintain-btn {
  background: black;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  margin-top: 12px;
}

.mainpage-maintain-btn:hover {
  background: #e6007a;
  cursor: pointer;
}

.mainpage-build-btn {
  background: #e6007a;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.mainpage-build-btn:hover {
  background: black;
  cursor: pointer;
}

.mainpage-row-build {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  background-image: linear-gradient(#aaa, #777);

  color: white;
}

.mainpage-row-learn {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  background-image: linear-gradient(#fff, #aaa);
  color: black;
}

.full-width {
  width: 100%;
  text-align: center;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: black;
}

.nav-site > :nth-child(4) {
  background-color: #e6007a !important;
  border-radius: 10px;
}

.navigationSlider .slidingNav ul li a {
  transition: none !important;
}

.nav-site > :nth-child(4) > :hover {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
}

body {
  font-family: "Muli", sans-serif !important;
}

.github-fork-ribbon {
  position: absolute;
  top: 0;
  height: 30px;
  font-size: 13.5px;
  z-index: 999999;
  background: #e6007a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDD;
  font-weight: 700;
}


.github-fork-ribbon:hover {
  color: white !important;
}

.fixedHeaderContainer {
  position: sticky;
  top: 0;
  margin-top: 30px;
}
