/* src/css/messageBox.css */

.message-box {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: hwb(0 80% 2%);
    z-index: 1000; /* Set a high z-index value */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 270px; /* Adjust width as needed */
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
  } 
  
  .messageContent {
    margin-top: 10px;
  }