.md-banner {
  background-color: #e6007a;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.md-banner p {
  margin: 0;
  font-weight: 500;
}

.md-banner a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .md-banner {
    font-size: 14px;
    padding: 1em;
  }
}
