.subsection-wrapper {
  display: flex;
  gap: var(--py-3);
  flex-wrap: wrap;
}

.subsection-wrapper .card {
  background-color: var(--color-bg);
  text-decoration: none;
  align-content: start;
  flex: 1 0 48%;
  max-width: 50%;
  transition: all 0.2s ease;
}

.subsection-wrapper .card:hover {
  transform: translateY(-2px);
}

.md-typeset .subsection-wrapper .card a {
  text-decoration: none;
  cursor: pointer;
}

.subsection-wrapper .card-header {
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2em 1.2em 1em 1.5em;
  gap: 0.25em;
  display: flex;
}

.subsection-wrapper .card-header .badge {
  order: 2;
}

.subsection-wrapper .card .card-header h2.title {
  order: 1;
  padding: 0;
}

.subsection-wrapper .title {
  margin: 0;
  line-height: 1.5em;
  font-size: 0.8rem;
  padding: 1.05em 1.05em 0em;
}

.subsection-wrapper .title span {
  vertical-align: text-top;
}

.subsection-wrapper .title svg {
  height: 1rem;
  margin-right: 0.25em;
}

.subsection-wrapper .description {
  margin: 0;
  font-size: 0.8rem;
  padding: 0 1.2em 1.2em 1.5em;
}

@media screen and (max-width: 36em) {
  .subsection-wrapper .card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

/* Hide TOC on index pages */
.md-nav.md-nav--secondary {
  display: none;
}
