@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../fonts/SpaceMono-Regular.eot");
  src: url("../fonts/SpaceMono-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SpaceMono-Regular.woff") format("woff"),
    url("../fonts/SpaceMono-Regular.ttf") format("truetype"),
    url("../fonts/SpaceMono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.homepage-font {
  font-family: "SpaceMono-Regular", "Helvetica", "Arial", sans-serif;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .mainpage-column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.myButton {
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
}

#back-to-top {
  background: #e6007a;
}

.myButton:hover {
  background: #e6007a;
  cursor: pointer;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: black;
}

.fixedHeaderContainer {
  background: black;
}

.homeContainer {
  background: white;
  height: 50vh;
}

.projectTitle {
  color: black;
}

.nav-footer {
  background: black;
}

.nav-footer .row {
  display: flex;
  justify-content: center;
}

.nav-footer .row .item {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.nav-footer p {
  color: rgba(255, 255, 255, 0.4);
}

.nav-footer .row .item:hover {
  color: #ffffff;
}

.mainpage-row {
  width: 100%;
  display: flex;
  padding: 10%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
}

.mainpage-column {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5%;
  text-align: center;
  flex-flow: column;
}

.full-width {
  width: 100%;
  text-align: center;
}

body {
  font-family: "Muli", sans-serif !important;
}

.github-fork-ribbon {
  position: fixed;
  top: 0;
  height: 30px;
  z-index: 999999;
  background: #e6007a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-weight: 700;
}

.github-fork-ribbon:hover {
  color: white !important;
}

.fixedHeaderContainer {
  position: fixed;
  top: 0;
  margin-top: 30px;
}

.logo {
  padding-bottom: 10px;
}

.kusamaHomeContainer {
  background: black;
}

.kusama-full-width {
  width: 100%;
  text-align: center;
  margin: 50px;
}

.kusama-full-width-main {
  width: 60%;
  text-align: center;
  margin: 50px;
  height: auto;
}

.mainpage-row-placeholder {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  background: black;
  height: 100px;
}

.kusama-mainpage-row-learn {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
  background: black;
}

.kusama-mainpage-row {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
  background: black;
  background-image: url("../img/kusama-pink-row.svg");
  background-position: center;
  background: cover;
}

.kusama-mainpage-cyber-row {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
  background: black;
  background-image: url("../img/Kusama-white-stencil.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.kusama-mainpage-row-validator {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  color: black;
}

.kusama-mainpage-row-more {
  width: 100%;
  display: flex;
  padding: 0%;
  padding-top: 0;
  padding-bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  background: black;
  color: white;
  border-bottom: 10px solid #e6007a;
}

.kusama-mainpage-build-btn {
  background: transparent;
  border: 1px solid #e6007a;
  color: #e6007a;
  width: 100%;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.75rem !important;
  display: inline-block;
  line-height: 1.5;
  cursor: pointer;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: black;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a:hover {
  background-color: #e6007a;
}

.kusama-mainpage-build-btn:hover {
  color: #00ffe1;
  border: 1px solid #00ffe1;
}

.kusama-mainpage-column {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 2%;
  text-align: center;
  flex-flow: column;
}
@media only screen and (max-width: 700px) {
  .docsContainer > .wrapper > .post {
    padding-top: 50px;
  }
  #docsNav {
    top: 130px;
  }
}

.nomargin {
  margin: 0;
}

@media print {
  .docsNavContainer,
  .fixedHeaderContainer,
  .github-fork-ribbon,
  .toc,
  .slidingNav,
  .edit-page-link,
  .docLastUpdate,
  footer,
  #back-to-top {
    padding-top: 0;
    display: none;
  }

  .navPusher {
    padding-top: 0;
  }
}
