name: Kusama Prod

on:
  schedule:
    - cron: "15 0 * * *" # At the end of every day, following Polkadot deployment (00:15)
  workflow_dispatch:

jobs:
  build:
    name: build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2
        with:
          node-version: "20"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Publish
        env: 
          app_id: ${{ secrets.ALGOLIA_KUSAMA_APPID }}
          api_key: ${{ secrets.ALGOLIA_KUSAMA_API }}
        run: |
          git config --global user.email "polkadot-wiki-deploy@users.noreply.github.com"
          git config --global user.name "Polkadot Wiki CI"
          echo "machine github.com login w3fdeploy password ${{ secrets.ACCESS_KEY }}" > ~/.netrc

          git checkout --track origin/prod
          git rebase master
          git push
          yarn && yarn kusama:build && GIT_USER=w3fdeploy PUBLISHING=true PROJECT_NAME=kusama-guide-hosting yarn run kusama:publish-gh-pages
