name: Polkadot Prod

on:
  push:
    branches:
      - prod

jobs:
  build:
    name: build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          
      - name: Publish
        run: |
          git config --global user.email "polkadot-wiki-deploy@users.noreply.github.com"
          git config --global user.name "Polkadot Wiki CI"
          echo "machine github.com login w3fdeploy password ${{ secrets.ACCESS_KEY }}" > ~/.netrc
          yarn && yarn polkadot:build && GIT_USER=w3fdeploy PUBLISHING=true yarn run polkadot:publish-gh-pages

          # setup ipfs cluster tools
          wget https://dist.ipfs.io/ipfs-cluster-ctl/v0.14.0/ipfs-cluster-ctl_v0.14.0_linux-amd64.tar.gz
          tar xf ./ipfs-cluster-ctl_v0.14.0_linux-amd64.tar.gz
          chmod +x ./ipfs-cluster-ctl/ipfs-cluster-ctl
          export PATH=$PATH:`pwd`/ipfs-cluster-ctl

          node ./scripfs/ipfs-cluster-pin.js --websiteDir ./website-v2/build --pinName polkadot-wiki
