name: Deploy Polkadot

# Triggered on commits to the main branch.
on:
  push:
    branches:
      - master

jobs:
  build:
    name: build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      # - name: Clone and run the site
      #   run: |
      #     sudo apt-get install netcat
      #     yarn
      #     yarn polkadot:start &
      #     while ! nc -z localhost 3000; do
      #         sleep 1
      #         echo waiting for website up...
      #     done
      #     yarn polkadot:pdf

      # - name: Upload PDF
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: polkadot-wiki
      #     path: website/static/polkadot-wiki.pdf

      # - name: Build
      #   run: yarn; yarn polkadot:build
      #   env:
      #     BUILDING: true

      # - name: Upload PDF to IPFS
      #   id: ipfs_pdf
      #   uses: aquiladev/ipfs-action@v0.1.4
      #   with:
      #     path: ./website/static/polkadot-wiki.pdf
      #     timeout: 120000

      # - name: Inject
      #   run: yarn; yarn polkadot:inject
      #   env:
      #     IPFS_PDF_HASH: ${{ steps.ipfs_pdf.outputs.hash }}

      # - name: Upload to IPFS
      #   uses: aquiladev/ipfs-action@v0.1.4
      #   with:
      #     path: ./website/build/polkadot-wiki
      #     timeout: 120000

      - name: Publish
        run: |
          git config --global user.email "polkadot-wiki-deploy@users.noreply.github.com"
          git config --global user.name "Polkadot Wiki CI"
          echo "machine github.com login w3fdeploy password ${{ secrets.ACCESS_KEY }}" > ~/.netrc
          yarn && yarn polkadot:build && GIT_USER=w3fdeploy PUBLISHING=true yarn run polkadot:publish-gh-pages
