name: Kusama Prod

on:
  push:
    branches:
      - prod

jobs:
  build:
    name: build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Publish
        run: |
          git config --global user.email "polkadot-wiki-deploy@users.noreply.github.com"
          git config --global user.name "Polkadot Wiki CI"
          echo "machine github.com login w3fdeploy password ${{ secrets.ACCESS_KEY }}" > ~/.netrc
          yarn && yarn kusama:build && GIT_USER=w3fdeploy PUBLISHING=true PROJECT_NAME=kusama-guide-hosting yarn run kusama:publish-gh-pages


          # setup ipfs cluster tools

          # wget https://dist.ipfs.io/ipfs-cluster-ctl/v0.14.0/ipfs-cluster-ctl_v0.14.0_linux-amd64.tar.gz
          # tar xf ./ipfs-cluster-ctl_v0.14.0_linux-amd64.tar.gz
          # chmod +x ./ipfs-cluster-ctl/ipfs-cluster-ctl
          # export PATH=$PATH:`pwd`/ipfs-cluster-ctl
          # node ./scripts/ipfs-cluster-pin.js --auth ${{ secrets.CLUSTER_BASIC_AUTH_USER}}:${{ secrets.CLUSTER_BASIC_AUTH_PASSWORD}} --websiteDir ./kusama-guide/build --pinName kusama-guide
